<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>685275482984-b1q8uq8e7nhgttr4aii7a3ej858tj1i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685275482984-b1q8uq8e7nhgttr4aii7a3ej858tj1i4</string>
	<key>API_KEY</key>
	<string>AIzaSyCv7Um9x4egIyylgfgZMFlhlS0c84kiFrE</string>
	<key>GCM_SENDER_ID</key>
	<string>685275482984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaeleconomy.Dice-Roller</string>
	<key>PROJECT_ID</key>
	<string>dice-roller-1</string>
	<key>STORAGE_BUCKET</key>
	<string>dice-roller-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685275482984:ios:b1f0f59fc6e68751</string>
	<key>DATABASE_URL</key>
	<string>https://dice-roller-1.firebaseio.com</string>
</dict>
</plist>